{:blocks (
{:block/created-at 1727443921430
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 0
:scale [1 1]
:type "image"
:assetId "ef5493f0-7cbf-11ef-8ac3-8305c318abe0"
:size [694.5 134.5]
:opacity 1
:id "ef54e210-7cbf-11ef-8ac3-8305c318abe0"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [104 120]
:parentId "66f6908b-e258-4f6e-8277-5e8329dda09f"
:nonce 1727434926827
:clipping 0}}
:block/updated-at 1727443921430} 
{:block/created-at 1727443921431
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 1
:scale [1 1]
:type "image"
:assetId "fd5a5c50-7cbf-11ef-8ac3-8305c318abe0"
:size [440 338]
:opacity 1
:id "fd5aaa70-7cbf-11ef-8ac3-8305c318abe0"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [104 264]
:parentId "66f6908b-e258-4f6e-8277-5e8329dda09f"
:nonce 1727434950449
:clipping 0}}
:block/updated-at 1727443921431} 
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66f6908b-e258-4f6e-8277-5e8329dda09f"}
:block/parent 
{:block/uuid #uuid "66f6908b-e258-4f6e-8277-5e8329dda09f"}
:block/properties 
{:public true}
:block/uuid #uuid "06bc0a90-c938-4403-98e9-d00f733140fe"})
:pages (
{:block/uuid #uuid "66f6908b-e258-4f6e-8277-5e8329dda09f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66f6908b-e258-4f6e-8277-5e8329dda09f"
:name "music theory"
:bindings 
{}
:nonce 1
:assets [
{:id "ef5493f0-7cbf-11ef-8ac3-8305c318abe0"
:type "image"
:src "../assets/image_1727434926722_0.png"
:size [1389 269]} 
{:id "fd5a5c50-7cbf-11ef-8ac3-8305c318abe0"
:type "image"
:src "../assets/image_1727434950218_0.png"
:size [880 676]}]
:shapes-index ("ef54e210-7cbf-11ef-8ac3-8305c318abe0" "fd5aaa70-7cbf-11ef-8ac3-8305c318abe0")}}
:block/updated-at 1727443921400
:block/created-at 1727434891137
:block/type "whiteboard"
:block/name "music theory"
:block/original-name "Music theory"})}