{:blocks (
{:block/created-at 1727392099800
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 0
:scale [1 1]
:type "image"
:assetId "31b585b0-7c5c-11ef-92f6-f13521255d0e"
:size [431 351]
:opacity 1
:id "31b5fae0-7c5c-11ef-92f6-f13521255d0e"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [568 696]
:parentId "66f54a7f-160c-4310-aa2e-4ba482aa7645"
:nonce 1727392088616
:clipping 0}}
:block/updated-at 1727392099800})
:pages (
{:block/uuid #uuid "66f54a7f-160c-4310-aa2e-4ba482aa7645"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66f54a7f-160c-4310-aa2e-4ba482aa7645"
:name "graphics programming with xlib"
:bindings 
{}
:nonce 1
:assets [
{:id "31b585b0-7c5c-11ef-92f6-f13521255d0e"
:type "image"
:src "../assets/image_1727392088399_0.png"
:size [862 702]}]
:shapes-index ("31b5fae0-7c5c-11ef-92f6-f13521255d0e")}}
:block/updated-at 1727392099800
:block/created-at 1727351423568
:block/type "whiteboard"
:block/name "graphics programming with xlib"
:block/original-name "Graphics programming with Xlib"})}